html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');

  margin-top: 50px;
}


.currency{
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid grey;
  background-color: aliceblue;
  margin-bottom: 100px;
}

.currency-value{
  margin-right: 100px;

}

.calc{
  position: absolute;
  top: 200px;
  right: 20px;
  width: 320px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 10px;
}


.converter{
  position: absolute;
  top: 50px;
  right: 20px;
  color: #fff;
  width: 280px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 5px;
  padding-bottom: 20px;
  background-color: rgb(36, 67, 5);
}
.converter-title{
  font-size: 20px;
  text-align: center;
padding: 5px 20px;
background-color: rgb(82, 151, 12);
}


.input-wrapper{
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.input-wrapper input{
  color: #fff;
  text-align: end;
  margin-left: 20px;
  width: 70px;
  background-color: transparent;
  border: 1px solid rgb(82, 151, 12);
  border-radius: 2px;
}